.container {
  padding: 16px;
  margin: 0 0 0 0;
  width: 80%;
  height: 100vh;
  color: #f2f2f2;
  left: 0;
  position: relative;

  @media(max-width: 1024px) {
    width: auto;
    padding: 32px;
  }
  .count {
    position: absolute;
    left: -16px;
    top: -32px;
    background: #000;
    color: #ffe300;
    border: 2px solid #ffe300;
    padding: 8px 16px;
    font-size: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all 1s ease-in;
    animation-direction: normal;
  }
  .tabs {
    color: #fff;
    border-top: green;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 16px 72px 16px 16px;

    @media(max-width: 767px) {
      padding: 16px;
      display: none;
    }


    .flex-1 {
      flex: 1;
    }

    .flex-2 {
      flex: 2;
    }

    .flex-3 {
      flex: 3;
    }


    .flex-column {
      flex-direction: column;
    }
    .flex-row {
      flex-direction: row;
    }

    .card {
      border-top: 4px solid #ffe300;
      background: #fff;
      color: #333;
      margin: 16px 8px;
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      flex: 2;
      transition: all 0.5s ease;
      text-align: left;

      &:hover {
        box-shadow: 2px 4px 2px #ffe300;
      }


      .title {
        font-weight: bold;
        font-size: 1.5rem;
        flex: 1;
        min-width: 200px;
      }
      .body {
        font-size: 1rem;
        min-width: 200px;
      }
    }

    .tab_navigation {
      display: flex;
      align-items: self-start;
      width: 100%;
      .title {
        padding: 2em 0;
        justify-content: left;
        color: #ffe300;
        border-bottom: #ffe300 2px solid;
        flex: 1;
        transition: 1s all ease-in;
        &:hover,
        &.active {
          color: #fff;
          cursor: pointer;
          box-shadow: -1px -4px 4px #ffe300;
        }
      }
    }
    .container {
      width: 100%;
      height: auto;
      background: transparent;
      margin: 0 0;
      color: #61dafb;
      padding: 0;
      justify-content: left;
      border: 1px solid #ffe300;
      .tab_item {
        border-bottom: 4px solid #ffe300;
        transition: all 1s;
        opacity: 0;
        display: none;
        .content {
          font-size: 1.5rem;
        }
      }
    }

  }
}
